.topbar {
    background-color: #373d41;
    height: 50px;
    width: 100%;
}

.topbar .left {
    float: left;
}

.topbar .right {
    float: right;
}

.topbar .area {
    line-height: 50px;
    height: 50px;
    margin: 0px 2px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 0px 12px;
    cursor: pointer;
    color: lightgrey;
    position: relative;
}

.topbar .area:hover {
    background: #2a2f32;
}

.topbar .area a {
    color: lightgrey;
    text-decoration-line: none;
}

.topbar .area a:hover {
    color: white;
}

.topbar .area>ul{
    position: absolute;
    list-style: none;
    top: 100%;
    right: 0px;
    width: 140px;
    overflow: hidden;
    color: black;
    background: white;
    z-index: 10;
    border: 1px solid darkgray;
    text-align: left;
    padding: 0px;
    transition: height 0.2s ease;
}

.topbar .area.hide-menu>ul{
    border: none;
    height:0!important;
    
}

.topbar .area>ul>li{
    position: relative;
    line-height: 40px;
}

.topbar .area>ul>li>.separ{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 1px;
    width: 100%;
    background: lightgray;
}

.topbar .area>ul>li>a{
    display: block;
    padding: 0px 16px;
    color: black;
}

.topbar .area>ul>li>a:hover{
    background-color: lightgray;
    color: black;
}

.topbar .logo {
    width: 50px;
    height: 50px;
    padding: 4px;
}

.topbar .logo a,
.topbar .notice a {
    display: block;
    position: relative;

}

.topbar .notice i {
    vertical-align: middle;
    font-size: 24px;
    color: lightgray;
}

.topbar .notice-num {
    font-size: 12px;
    color: #fff;
    background: #f90;
    border-radius: 5px;
    padding: 2px 5px;
    display: inline-block;
    margin-top: 15px;
    line-height: 16px;
    vertical-align: top;
    text-align: center;
}

.topbar .area .user {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    vertical-align: middle;
}

.topbar .area .user-panel{
    position: absolute;
    display: block;
    top:100%;
    right: 0px;
    width: 270px;
    height: 310px;
    border: 1px solid lightgray;
    overflow: hidden;
    transition: height 0.2s ease;
}

.topbar .area.hide-menu .user-panel{
    height: 0px!important;
    border: none;
}

.topbar .area .user-panel .top{
    display: block;
    width:100%;
    line-height: 50px;
    cursor: default;
}

.topbar .area .user-panel .top p{
    line-height: 12px;
    font-size: 12px;
    color: black;
}

.topbar .area .user-panel .body{
    display: block;
    width:100%;
    padding: 2px;
    text-align: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.topbar .area .user-panel .body a{
    display: inline-block;
    width: 30%;
    padding: 8px;
    color: #808080;
}

.topbar .area .user-panel .body a i{
    display: block;
    font-size: 24px;
    line-height: 50px;
}

.topbar .area .user-panel .body a span{
    display: block;
    font-size: 12px;
    line-height: 16px;
}

.topbar .area .user-panel .body a:hover{
    background-color: #f5f5f5;
}

.topbar .area .user-panel .bottom{
    display: block;
    width:100%;
    background: lightgray;
    height: 50px;
    line-height: 50px;
}

.topbar .area .user-panel .bottom a{
    color: #808080;
}

.topbar .area .user-panel .bottom a:hover{
    color: black;
}


.topbar .search{
    width: 160px;
    position: relative;
    line-height: 26px;
    border:1px solid darkgrey;
    margin: 12px 0px;
    text-align: left;
    transition: width 0.2s ease;
}

.topbar .search:hover,
.topbar .search.active
{
    border-color: aqua;
    background: black;
    width: 280px;
}

.topbar .search input {
    font-size: 12px;
    box-sizing: border-box;
    outline: none;
    width: 100%;
    padding: 0px 12px;
    border: none;
    background-color: transparent;
    color: #fff;
}

.topbar .search i{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 32px;
    font-size: 12px;
    line-height: 26px;
    text-align: center;
    border-left: 1px solid darkgray;;
}

.topbar .search:hover i{
    color: white;
}


.sidebar {
    position: fixed;
    width: 180px;
    top: 50px;
    bottom: 0;
    left: 0;
    background-color: #333744;
    z-index: 109;
    overflow: hidden;
}

.sidebar .fold {
    height: 30px;
    width: 100%;
    background: #4a5064;
    color: lightgray;
    text-align: center;
    line-height: 30px!important;
    font-size: 12px;
    cursor: pointer;
}

.sidebar .fold:hover {
    color: white;
}

.sidebar .nav {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .title {
    line-height: 40px;
    cursor: pointer;
    color: lightgray
}

.sidebar .title:hover,
.sidebar a:hover {
    color: white;
}

.sidebar i {
    margin: 0 8px 0 20px;
    vertical-align: middle;
}

.sidebar .nav {
    overflow: hidden;
}

.sidebar .nav ul {
    list-style: none;
    width: 200px;
    margin: 0px;
    padding: 0px;
    transition: height 0.2s ease;
}

.sidebar .nav li {
    line-height: 40px;
    margin-left: 2px;
    padding: 0px;
}

.sidebar .nav ul a {
    display: block;
    width: 100%;
    color: lightgray;
    text-decoration-line: none;
}

.sidebar .nav ul a:hover,
.sidebar .nav ul a.active
{
    color: white;
    background-color: rgb(0, 193, 222);
}

.sidebar .nav .title i{
    transform: rotate(90deg);
}

.sidebar .nav.collapse {
    display: block;
}

.sidebar .nav.collapse ul {
    height: 0px!important;
}

.sidebar .nav.nav.collapse .title i{
    transform: rotate(0deg);
}


.frame {
    position: absolute;
    top: 50px;
    bottom: 0px;
    background-color: #000;
    z-index: 100;
}
