.pat-module {
    width: 100%;
    background: url(res/bg1.jpg) repeat-y;
    background-size: 100% auto;
}

.pat-module .head{
    text-align: center;
}

.pat-module .head h1{
    line-height: 36px;
    font-size: 24px;
}

.pat-module .main{
    width: 100%;
    margin: 0px auto;
}

.pat-module .main .cell{
    display: inline-block;
    width: 32%;
    min-width:300px;
    height: 240px;
    margin-top: 10px;
    margin-left: 1%;
    text-align: center;
    border: #00a2ca solid 1px;
    vertical-align: top;
}

.pat-module .main .cell>a{
    display: block;
    width: 100px;
    margin: 10px auto;
    text-decoration: none;
}

.pat-module .cell>a .image{
    background-position: 0px 0px;
    background-size: 75px;
    height: 75px;
    width: 75px;
    margin: 0px auto;
}

.pat-module .cell>a h2{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    color: #000;
}

.pat-module .cell .list{
    list-style-type: none;
    text-align: center;
    padding-top: 10px;
    display: block;
    margin: 0px;
}

.pat-module .cell .list>li{
    display: inline-block;
    text-align: center;
    color: rgb(51, 51, 51);
}

.pat-module .cell .list>li a{
    color: #000;
    text-decoration: none;
}

